<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>FILE History</title>
    <!-- Custom styles for this page -->

</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Charge History</h1>
        </div>

        <!-- Content Row -->


        <!-- Content Row -->

        <div class="row">



            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>CHARGE HISTORY</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>

                                <tr>
                                    <th>PCREF</th>
                                    <th>DEBIT ACC</th>
                                    <th>CREDIT ACC</th>
                                    <th>EQ RESPONSE</th>
                                    <th>RESPONSE CODE</th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="charge : ${chargeList}">

                                    <td th:text="${charge.getPcref()}"></td>
                                    <td th:text="${charge.getDebitAcc()}"></td>
                                    <td th:text="${charge.getCreditAcc()}"></td>
                                    <td th:text="${charge.getEqMessage()}"></td>
                                    <td th:text="${charge.getResponseCode()}"></td>
                                </tr>


                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>





        </div>

        <!-- Content Row -->


    </div>
</div>

<!-- Page level plugins -->

</body>
</html>