<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>FILE History</title>
    <!-- Custom styles for this page -->

</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">File History</h1>
        </div>

        <!-- Content Row -->


        <!-- Content Row -->

        <div class="row">



            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>NONE BULKED CHARGES</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>

                                <tr>
                                    <th>CHARGE TYPE</th>
                                    <th>COUNT</th>
                                    <th>VALUE</th>
                                    <th>VIEW MORE</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="charge : ${noneBulkset}">
                                    <td th:text="${charge.getFeetype()}"></td>
                                    <td th:text="${charge.getCount()}"></td>
                                    <td th:text="${charge.getSum()}"></td>
                                    <td>
                                        <a    th:href="|/charge-history/${fileName}/${charge.getFeetype()}|" >
                                            <button class="btn-pull-left btn btn-sm btn-primary">
                                                OPEN
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <h6>Total Count <span th:text="${nonebulked.size()}"></span> </h6>
                                <h6>Total Value</h6>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>BULKED CHARGES</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                <thead>

                                <tr>
                                    <th>CHARGE TYPE</th>
                                    <th>COUNT</th>
                                    <th>VALUE</th>
                                    <th>VIEW MORE</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="charge : ${bulkset}">
                                    <td th:text="${charge.getFeetype()}"></td>
                                    <td th:text="${charge.getCount()}"></td>
                                    <td th:text="${charge.getSum()}"></td>
                                    <td>
                                        <a    th:href="|/charge-history/${fileName}/${charge.getFeetype()}|" >
                                            <button class="btn-pull-left btn btn-sm btn-primary">
                                                OPEN
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <h6>Total Count <span th:text="${bullked.size()}"></span> </h6>
                                <h6>Total Value</h6>
                            </table>

                        </div>
                    </div>
                </div>
            </div>



        </div>

        <!-- Content Row -->


    </div>
</div>

<!-- Page level plugins -->

</body>
</html>