<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>ZBESB -OFFLINE TRANSACTONS</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

        </div>

        <!-- Content Row -->

        <H2>ZB ESB OFFLINE SYSTEM</H2>

        <!-- Content Row -->


    </div>
</div>

</body>
</html>